
.center {
        text-align: center;
      }
.thumbnail img {
    height:250px;
    width:100%;
}
#new-menu {
background-color: #ccff99
}
#menu {
background-color: #ccff99
}
body {
  background-image: url('./images/Sandwich-AvocadoBLT.jpg ')
}
.col-xs-4 {
  margin-top: 15px;
}
#navbar {
  background-color: #fffacd
}
#recipe-description {
  color: #fffacd;
}
.custom {
  width: 80px;
}
#add-recipe {
  color: #fffacd;
}
