
.center {
        text-align: center;
      }
.thumbnail img {
    height:250px;
    width:100%;
}
#new-menu {
background-color: #ccff99;
}
#new-menu img {
  height:80%;
    width:100%;
}
.equal {
  display: flex;
  display: -webkit-flex;
}
#menu {
background-color: #ccff99
}
body {
  background-image: url('./images/Sandwich-AvocadoBLT.jpg ')
}
.col-xs-4 {
  margin-top: 15px;
}
#navbar {
  background-color: #fffacd
}
#recipe-description {
  color: black;
}
.custom {
  width: 80px;
}
#add-recipe {
  color: #fffacd;
}
.list-item img {
  height:200px;
  width:200px;
  margin-left: 20px;
}
